.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-inline-start: -68px;
}

ul {
  list-style-type: none;
  background-color: white;
  padding-inline-start: 5px;
  margin-inline-start: -68px;
}

form input[type="text"] {
  height: 20px;
  width: 200px;
  margin-left: 66px;
  margin-top: 10px;
}

#todolistsection input[type="checkbox"] {
  margin-top: 10px;
}

#todolistsection button {
  font-weight: 900;
  margin-right: 6px;
}

#todolistsection button:hover {
  background-color: red;
  color: white;
}

form button {
  padding: 4px 16px;
  margin-left: 10px;
  background-color: #c6c6ecb8;
  font-weight: 700;
}

form button:hover {
  background-color: green;
  color: white;
}


/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
